.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.header .trybewarts-login {
  display: flex;
}

.main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
  justify-content: flex-end;
}

#forms {
  flex-flow: row wrap;
}

#feedback {
  flex-flow: row wrap;
  display: flex;
}

#counte {
  display: flex;
  flex-direction: row;
}
